.btn {
    text-align: center;
    border-radius: 12pt;
    background-color: #E5E5E5;
    color: #4D4D4D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px #4D4D4D;
    font-size: 2.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn:hover {
    box-shadow: 0 0;
}

.btn:active {
    box-shadow: 0 0;
    color: #5CFF5C;
    background-color: #4D4D4D;
}
