.main-button {
    a {
        text-decoration: none;
    }

    @include mobile {
        margin: 10px;
    }

    @include tablet {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include desktop {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        display: none;
    }

    &, > div {
        height: 200px;
        width: 100%;
    }

    > div {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
