// Colors
$background-color: #fff;
$headfoot-color: #E5E5E5

// CSS variables
:root {
    --background-color: #fff;
}

html, body {
    background-color: $background-color;
    background-color: var(--background-color);
}
.foot {
  background-color: $headfoot-color;
}
