.lkk-header {
    /*background-color: #F2F2F2;*/
}

.lkk-logo {
    float: left;
}

.lkk-nav {
    float: right;
    margin-top : 80px;
}

.lkk-header-inner {
    max-width: 1218px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lkk-header-inner:after {
    content: "";
    display: table;
    clear: both;
}

.lkk-nav-item {
    float: left;
    position: relative;
    font-family: 'Lato', sans-serif;
    float: left;
    position: relative;
    font-size: 18px;
    color: #444444;
    height: 30px;
    padding: 16px 12px;
    text-decoration: none;
}

.lkk-nav-item:visited {
    color: #444444;
}

.lkk-nav-item:hover, .lkk-nav-item-active, .lkk-nav-item-active:visited {
    color: #00b300;
}
