.lkk-layout--three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1em;
    max-width: 1218px;
    margin-left: auto;
    margin-right: auto;
}
