.head {
    background-color: $head-color;

    .inner-wrapper {
        max-width: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

}
