.head {
    background-color: $head-color;

    .inner-wrapper {
        max-width: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .dropdown {
        position: relative;
        margin: 0 .5rem;
        flex: 1 0 auto;
    }

    .dropdown-toggle-btn {
        cursor: pointer;
        color: #ddd;
        transition: color .2s ease-in-out;
        width: 32px;
        margin: 0 8px 0 auto;

        &:hover {
            color: $primary-white;

            .sandwich {
                fill: $primary-white;
            }

            .cross {
                stroke: $primary-white;
            }
        }

        .sandwich {
            fill: #ddd;
            fill: color .2s ease-in-out;
        }

        .cross {
            stroke: #ddd;
            stroke-width: 4;
            stroke: color .2s ease-in-out;
        }
    }

    .dropdown-list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $dropdown-menu-color;
        list-style: none;
        padding-left: 0;
        max-height: 0;
        overflow: hidden;
        border-radius: 5px;
        margin-top: 8px;

        &.open {
            max-height: 500px;
            transition: max-height .5s ease-in-out;
        }

        .item {
            padding: 6px;
            margin: 8px;

            .link {
                color: $primary-white;
                text-decoration: none;
                display: inline-block;
                width: 100%;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
