<section class="lkk-layout--three">
    <div data-portal-region="left">
        <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
    </div>

    <div data-portal-region="middle">
        <div data-th-each="component : ${middleRegion.components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
    </div>

    <div data-portal-region="right">
        <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
    </div>
</section>
