// Palette
$blues: #0066ff;
$reds: #c72963 #ed1c24 #f0ccff;
$greens: #009145 #99ff9e #99ffed #5cff5c;
$yellows: #f7941f #ffff69;
$greys: #4d4d4d #808080 #b2b2b2 #e5e5e5;
$blacks: #222222 #333333;
$whites: #fff;

$primary-black: nth($blacks, 1);
$primary-grey: nth($greys, 1);
$primary-lightgrey: nth($greys, 4);
$primary-white: nth($whites, 1);
$primary-green: nth($greens, 1);
$primary-red: nth($reds, 2);
$primary-yellow: nth($yellows, 2);

// Colors
$background-color: $primary-white;
$head-color: $primary-black;
$main-color: $primary-grey;
$foot-color: $primary-lightgrey;
$article-title-color: nth($yellows, 1);
$selected-from-map-color: nth($greens, 2);

$font-monospace: 'Source Code Pro', monospace;
$font-text: 'Source Sans Pro', sans-serif;
